<div class="col-md-6 offset-md-3" style="padding-top: 10%;">
    <h3 style="text-align: center; font-size: 35px; font-weight: bold; padding-top: 10px;"> Reset your Password </h3>
    <h5 style="text-align: center; color: red;font-size: 25px;">{{errorMessage}}</h5>
    <form [formGroup]="forGrp!">
        <div class="form-group" style="padding-bottom:20px">
            <label style="font-size: 25px;">New Password</label>
            <input type="password" class="form-control" id="password" formControlName="password"
                style="padding-bottom: 20px" placeholder="Enter your new password" required />
        </div>
        <div *ngIf="forGrp.controls['password'].invalid && (forGrp.controls['password'].dirty || forGrp.controls['password'].touched)"
            class="alert alert-danger">
            <div *ngIf="forGrp.controls['password'].errors?.['required']">
                New Password is required.
            </div>
            <div *ngIf="forGrp.controls['password'].errors?.['minlength']">
                Password length should be above 5 Characters
            </div>
        </div>
        <div class="form-group" style="padding-bottom:20px">
            <label style="font-size: 25px;">Confirm Password : </label>
            <input class="form-control" id="confirmPassword" formControlName="confirmPassword" name="confirmPassword"
                style="padding-bottom: 10px" type="password" placeholder="Re-enter your password" required />
        </div>
        <div *ngIf="forGrp.controls['confirmPassword'].getError('Mushmatch')!=null" class="alert alert-danger">Confirm
            Password Mismatch</div>

<button style="padding: 10px;" class="btn btn-primary w-100" type="button" (click)="onSubmit()"
    [disabled]="forGrp && forGrp.invalid">Submit</button>
</form>
</div>