<div class="col-md-6 offset-md-3" style="padding-top: 10%;">
    <h3 style="text-align: center; font-size: 25px; font-weight: bold; padding-top: 10px;"> Enter your user name and security question answer </h3>
    <h5 style="text-align: center; color: red;font-size: 25px;">{{errorMessage}}</h5>
    <form [formGroup]="forGrp!">
        <div class="form-group" style="padding-bottom:20px">
            <label style="font-size: 20px;">UserName</label>
            <input type="text" class="form-control" id="username" formControlName="username"
                style="padding-bottom: 20px" placeholder="Enter Username" required />
        </div>
        <div *ngIf="forGrp.controls['username'].invalid && (forGrp.controls['username'].dirty || forGrp.controls['username'].touched)"
            class="alert alert-danger">
            <div *ngIf="forGrp.controls['username'].errors?.['required']">
                UserName is required.
            </div>
        </div>
        <div class="form-group" style="padding-bottom:20px">
            <label style="font-size: 20px;">What is your faviourate place?</label>
            <input class="form-control" id="securityQuestion" name="securityQuestion" type="password" formControlName="securityQuestion"
                style="padding-bottom: 20px" placeholder="Enter Password" required />
        </div>
        <div *ngIf="forGrp.controls['securityQuestion'].invalid && (forGrp.controls['securityQuestion'].dirty || forGrp.controls['securityQuestion'].touched)"
            class="alert alert-danger">
            <div *ngIf="forGrp.controls['securityQuestion'].errors?.['required']">
                Security answer is required
            </div>
        </div>
<button style="padding: 10px;" class="btn btn-primary w-100" type="button" (click)="onSubmit()"
    [disabled]="forGrp && forGrp.invalid">Reset Password</button>
</form>

</div>